@model DAQMS.Web.ErrorViewModel
@{
    ViewBag.Title = "Error";
}
<div id="errorPage">
    <div class="error-page">
        <h2 class="headline">
            @Response.StatusCode
        </h2>
        <div class="error-content">
            <h3>
                <i class="fa fa-@Model.ErrorType text-yellow"></i>Oops! Something went wrong.
            </h3>
            <h4>
                <a href="javascript:void(0)" onclick="window.history.go(-1)"> Click here to return to the previous page </a>
            </h4>
            <p>
                @Model.ErrorMessage
            </p>
        </div>
    </div>
    <!-- /.error-page -->
</div>