
.WrapperFluid{
    margin-bottom:10px;
}

.checkBoxShow{
    height: 18px!important;
    opacity: 1!important;
    position: absolute!important;
    width: 18px!important;
    z-index: 12!important;
    display: inline-block!important;
    margin-bottom: 0!important;
    vertical-align: middle!important;
    margin:-10px 0 0!important;
}